<div class="branches">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay;  sticky: true;"></tr>
                <tr class="table-row" mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
    </table>
</div>
