@import '../../styles/variables.scss';


.header {
    height: 40px;
    padding: 20px;
    background-color: #eee;

    i {
        float: left;
        margin-right: 15px;
     }

     .header-text{
         margin-top: 2px;
     }
    
}