<mat-card class="card">
    <mat-card-header>     
          <mat-card-title class="card-title"> Your repos</mat-card-title>
    </mat-card-header>
    <div class="card-icon">
       <i class="material-icons">library_books</i>
    </div>

    <mat-card-content>
        <div *ngIf="dataSource.length !== 0" class="txt-center">Please select row to see repository branches<br/><br/></div>
        <table  *ngIf="dataSource.length !== 0" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr (click)="onRowClick(element)" class="table-row" mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
        </table>
        <div class="txt-center" *ngIf="dataSource.length === 0">Please click change user button on the left</div>
    </mat-card-content>
</mat-card>