.menuleft {
    width: 250px;
    height: 100vh;
    box-shadow: 3px 0 15px 0 rgba(0,0,0,.14);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    
    .beam,
    .logo{
        text-align: center;
        position: relative;
        padding: 15px 0;
    }

    .beam::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background-color: lightgray;
    }

    .sidenav-content{
        padding: 15px;
    }

    ul {
        padding: 15px;
        margin: 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            padding: 5px;
            cursor: pointer;
            
                i {
                    float: left;
                    margin-right: 12px;
                }

                p {
                    margin: 3px;
                    line-height: 20px;
                }

                
                .user-change-button{
                    width: 200px;
                }
            }   
        }
 }
