@import '../styles/variables.scss';

.card {
    height: $app-card-height;
    border-radius: $app-border-radius;

    margin: 30px 0 10px;
    padding: 20px;
 
    &.popup{
        height: auto;
    }

    .card-icon {
        background-color: $app-wow-color;
        position: absolute;
        top: -15px;
        height: 60px;
        width: 60px;
        border: 1px solid lightgray;    
        color: white; 
     
        i {
            margin: 17px;
        }
    }
    
    .card-title {
        margin-left: 60px;
    }

    &.popup {
        .card-title {
            margin-left: 0;
        }
    }

    .card-buttons {
        text-align: right;

        button {
            margin-left: 10px; 
        }
    }
}
