<mat-card class="card popup">
    <mat-card-header>     
        <mat-card-title class="card-title">Please inser github user name</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
        <br/>
        <form #userForm="ngForm">
            <mat-form-field class="form-field full-width-form-field">
                <mat-label>User name </mat-label>
                <input name="agentLogin" [(ngModel)]="name" matInput required />
            </mat-form-field>
            <div class="row">
                <div class="form-group buttons popup-buttons">
                    <a (click)="onCancelClick()" mat-raised-button routerLink=".">Cancel</a>
                    <button (click)="onConfirmClick()" mat-raised-button color="primary" [disabled]="!userForm.form.valid">Switch</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>