@import '../styles/variables.scss';

.app-header{
    width: calc(100% - 250px);
    position: fixed;
    z-index: 9;
    right: 0;
}

.content-wrapper {
    background-color: $app-background-color;
    min-height: 100vh;
    float: right;
    width: calc(100% - 250px);

    .main-content{
        margin-top: 70px;
        padding: 15px;
    }
}