@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);


@include angular-material-theme($app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-form-field{
    width: 100%;
}

.buttons{
    width: 100%;
    margin-top: 25px;
    
    &.popup-buttons{
        text-align: center;

        button{
            margin-left: 10px;
        }
    }
}

table {
    width: 100%;

    .table-row{
        cursor: pointer;

        &:hover{
            background-color: lightgrey;
        }
    }
}

.txt-center{
    text-align: center;
}
